.subList{

    width: 150px;
margin: 10px;
}
.subList .listHeader {
    margin: 0px;
    font-size: 20px;
}
.subList .listFavicon {
    width: 16px;
    height: 16px;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 150px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  background: #f6f6f6;
}
